<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stkizema.medconference">

    <application
        android:name=".TopApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ConferencesActivity" />
        <activity android:name=".activities.ConferenceCreateActivity" />
        <activity android:name=".activities.InConferenceActivity" />
        <activity android:name=".activities.EditConference" />
    </application>

</manifest>